@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Oswald:wght@700&family=Poppins:wght@300&family=Syne:wght@800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ADD8E6;
  font-family: 'Poppins',sans-serif;
}
/* booked-description */
.no-booked-properties{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
.no-booked-properties h2{
  cursor: pointer;
  text-decoration: underline;
}
.empty-booked{
  width: 15%;
  text-align: center;
  margin: 0 auto;
}
.empty-booked img{
  width:100% ;
}

/* navbar */
.nav-bar {
  height: 81px;
  background-color: #fff;
  box-shadow: 0 0 10px #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  width: 100%;
  position: fixed;
}
.amazon-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-bar h2 {
  font-size: 40px;
}
.nav-bag {
  display: flex;
  align-items: center;
}
.nav-bag svg {
  transform: scale(2.2);
  color: black;
}
.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: orange;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-left: 19px;
}
.nav-bag p {
  margin: 15px;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
.not-found {
  width: 100%;
  display: flex;

  justify-content: center;
}
.not-found img {
  width: 50%;
  justify-content: center;
}
/* home */
.home-container {
  padding: 6rem 4rem;
}
.home-container h2 {
  font-size: 40px;
  font-family: oswald;
  text-align: center;

}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product {
  width: 250px;
  max-width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  
  box-shadow: 0 0 10px #d9d9d9;
  display: flex;
  border-radius: 15px;
  background-color: #fff;
}
.product img {
  width: 100%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.product h3 {
  font-size: 20px;
  font-weight: 400;
}
.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.product .details .price {
  font-size: 16px;
  font-weight: 700;
}
.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
 margin-top: 50px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: #fff;
  letter-spacing: 1.15px;
}
.product button:hover {
  background: green;
  color: black;
  font-weight: bold;
}
/* cart */
.cart-container {
  padding: 2rem 4rem;
  
}
.cart-container h2 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  font-family: oswald;
  margin-top: 55px;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid #000;
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  
  width: 100%;
 
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.flat-details{
  padding: 10px;
}

.cart-item .cart-product button {
  border: 1px solid #000;
  outline: none;
  margin: 0.7rem;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px;

}
.cart-product{
  background: #fff;
  width: 35%;
}
.cart-product .flat-beds{
  display: flex;
  align-items: center;
}
.cart-item .cart-product button:hover {
  color: #000;
  background: #fff;
  
}
.flat-star{
  display: flex;
  align-items: center;
}
.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid #000;
  border-radius: 5px;
  background: wheat;
}
.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  margin-top: 5px;
}
.cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}
/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #000;
  padding-top: 2rem;
}
.logo-final{
  width: 10%;
}
.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid #000;
  color: #000;
  background: #ff2d55;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}
.cart-checkout .subtotal .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: #fff;
  letter-spacing: 1.15px;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty img {
  width: 40%;
}
.cart-empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.cart-empty p {
  font-size: 30px;
  font-weight: bold;
}
.start-shopping span {
  font-size: 25px;
  font-weight: bold;
}
/* search bar */
.search-container{
  padding: 10px;
  margin-top: 75px;
 
}
.icon-side{
  width: 50%;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -14px;
}

/* popup */
.confirmedpopup{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.popup-content{
  box-shadow: 0 0  10px #d9d9d9;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  background: #fff;
  z-index: 999;
  padding: 45px;
}
.popup-content h1{
  font-size: 23px;
}
.loader-gif{
  width: 100%;
}
.loader-gif img{
  width: 31%;
  margin: 20px auto;
  display: flex;
}
/* beds */
.beds{
  display: flex;
  align-items: center;
}
.ratings{
  display: flex;
  align-items: center;
}
/* booked-properties */
.booked-page{
  padding-top: 7rem;
  
 
}
.booked button{
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
}

.booked-heading {
  display: flex;
  justify-content: center;
}
.booked-heading h1{
  font-size: 40px;
  text-decoration: underline;
}
.finalcard{
  background: #ffff;
  width: 50%;
  
  
}
.finalcontent{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.final-image{
  width: 48%;
}
.house-details{
  width: 48%;
}
.final-image img{
  width: 100%;
}
.location-name,.booked-description,.booked-beds,.booked-beds,.booked-ratings,.cancel-booking{
  margin-top: 20px;
}
.booked-beds p{
  display: flex;
  align-items: center;
}
.finalcard{
  margin-top: 30px;
}
.bookedcards{
  display: flex;
  justify-content: center;
}
.cancel-booking button{
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 17px;
}
/* filters css */
.price-filter{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  background: #fff;
  padding: 10px;
}
.price-filter label{
  padding-right: 10px;
  align-items: center;
  display:flex;
}
/* checkout */
.finalinfo{
  padding: 8rem 3rem;
}
.person-details{
  background: #fff;
  box-shadow: 0 0 10px #d9d9d9;
}
.person-content{
  padding: 10px;
}
.address-card{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}
.enter-details{
  margin-top: 10px;
}
.write-down{
  font-weight: bold;
  font-family: 'Poppins',sans-serif;
}
.first-last{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.firstname{
  width: 48%;
}
.firstname input{
  width: 100%;
  padding: 10px;
}
.last-name{
  width: 48%;
}
.last-name input{
  width: 100%;
  padding: 10px;
}
.gender{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.female{
  width: 48%;
}
.female select{
  width: 100%;
  padding: 10px;
}
.birthday{
  width: 48%;
}
.birthday input{
  width: 100%;
  padding: 10px;
}
/* card */
.card-details{
  background: #fff;
  box-shadow: 0 0 10px #d9d9d9;
  margin-top: 40px;
}
.card-information{
  padding: 10px;
}
.payment{
  border-bottom: 1px solid #000;
  
}
.payment p{
  display: flex;
  align-items: center;
}
.card-number{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.enter-number{
  width: 60%;
  
}
.enter-number input{
  width: 100%;
  padding: 10px;
}
.cvv{
  width: 38%;
}
.cvv input{
  width: 100%;
  padding: 10px;
}
.card-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.card-member{
  width: 48%;
}
.card-member input{
  width: 100%;
  padding: 10px;
}
.select-card{
  width: 48%;
}
.select-card select{
  width: 100%;
  padding: 10px;
}
.book-now{
  width: 100%;
  margin-top: 15px;
}
.book-now button{
  padding: 18px;
  font-weight: bold;
  background: #2e71d6;
  width: 100%;
  border: none;
  color:#fff ;
  border-radius: 10px;
}
@media (max-width:767px){
  .price-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    flex-wrap: wrap;
}
.home-container {
  padding: 6rem 0rem;
}
.home-container h2 {
  font-size: 24px;
  font-family: oswald;
  text-align: center;
}
.price-filter label{
  font-size: 14px;
}
.product{
 
    /* width: 250px; */
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px #d9d9d9;
    display: flex;
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
}
.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 22px;
  background: orange;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-left: 13px;
}
.nav-bag p{
  font-size: 16px;
}
.nav-bar .cart-side {
  width: 35%;
        text-align: start;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

.amazon-icon {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
}
.nav-bar .icon-side{
  width: 65%;
}
.search-container{
  width: 75%;
  margin-top: 0px;
}
.amazon-icon .logo-final{
  width: 16%;
}
input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 36px;
  padding: 2px 16px;
  font-size: 10px;
  border: 1px solid #D0CFCE;
  outline: none;
}
.search-icon{
  display: none;
}
.cart-container h2{
  margin-top: 50px;
  font-size: 33px;
}
.cart-container .titles{
  gap: 40px;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.flat-details{
  font-size: 12px;
}
.cart-item .cart-product button {
  border: 1px solid #000;
  outline: none;
  margin: 0.6rem;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 6px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.cart-product-price{
  font-size: 12px;
}
.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-size: 12px;
  font-weight: 700;
}
.cart-container {
  padding: 2rem 1rem;
}
.cart-product{
  width: 100%;
}
.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* width: 130px; */
  max-width: 100%;
  border: 0.5px solid #000;
  border-radius: 5px;
  background: wheat;
  width: 75%;
  font-size: 12px;
}
.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  margin-top: 0px;
}
.cart-item {
  /* border-top: 1px solid #000; */
  padding: 1rem 0;
  border: none;
}
.cart-summary{
  border: none;
  display: flex;
  flex-wrap: wrap;
}
.cart-checkout {
  /* width: 270px; */
  width: 100%;
  /* max-width: 100%; */
  margin-top: 15px;
}
.cart-empty p {
  font-size: 15px;
  font-weight: bold;
}
.start-shopping span{
  font-size: 13px;
}
.cart-summary .clear-cart{
  width: 100%;
}
.firstname,.last-name,.female,.birthday,.enter-number,.cvv,.card-member,.select-card{
  width: 100%;
}
.popup-content {
  box-shadow: 0 0  10px #d9d9d9;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
  background: #fff;
  z-index: 999;
  padding: 45px;
}
.booked button {
  padding: 6px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 9px;
  margin: 10px;
}
.final-image{
  width: 100%;
}
.house-details{
  width: 100%;
}
.booked-heading h1 {
  font-size: 25px;
  text-decoration: underline;
}
}


